@model BodyMassIndexViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center py-4">Edit:<br />Height & Weight Result</h1>

<div class="text-center fs-4">
    <div class="input-screen mx-auto">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control fs-5 text-center mx-auto w-75" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label asp-for="WeightKg" class="control-label"></label>
                <input asp-for="WeightKg" class="form-control fs-5 text-center mx-auto w-75" id="WeightKgInput" />
                <span asp-validation-for="WeightKg" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label asp-for="WeightTestingMachine" class="control-label"></label>
                <input asp-for="WeightTestingMachine" class="form-control fs-5 text-center mx-auto w-75" />
                <span asp-validation-for="WeightTestingMachine" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label asp-for="HeightCm" class="control-label"></label>
                <input asp-for="HeightCm" class="form-control fs-5 text-center mx-auto w-75" id="HeightCmInput" />
                <span asp-validation-for="HeightCm" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label asp-for="HeightTestingMachine" class="control-label"></label>
                <input asp-for="HeightTestingMachine" class="form-control fs-5 text-center mx-auto w-75" />
                <span asp-validation-for="HeightTestingMachine" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label asp-for="Bmi" class="control-label"></label>
                <input asp-for="Bmi" class="form-control fs-5 text-center mx-auto w-75" />
                <span asp-validation-for="Bmi" class="text-danger"></span>
            </div>
            <div class="form-group py-3">
                <input type="submit" value="Save" class="w-25 text-center btn bgc-navy text-light fs-5 smallscreen-40width smallscreen-btn-fontsize" />
            </div>
        </form>
    </div>
</div>

<div class="text-center w-75 mx-auto">
    <a class="w-50 text-center btn bgc-navy text-light fs-5 smallscreen-80width smallscreen-btn-fontsize"  asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $(function () {
        // Get the input elements
        var weightInput = $('#WeightKgInput');
        var heightInput = $('#HeightCmInput');
        var bmiInput = $('input[name=Bmi]');

        // Calculate the BMI whenever the values of the weight or height inputs change
        weightInput.add(heightInput).on('change', function () {
            var weight = parseFloat(weightInput.val());
            var height = parseFloat(heightInput.val()) / 100.0;
            var bmi = weight / (height * height);
            bmiInput.val(bmi.toFixed(2));
        });
    });
</script>
}
